<div class="app-form choose-type">
  <div class="col-sm-6">
    <a routerLink="/single" class="app-type">
      <img src="../assets/images/app-individual.jpg" />
      <span class="app-title">Individual Application</span>
    </a>
  </div>
  <div class="col-sm-6">
    <a routerLink="/joint" class="app-type">
      <img src="../assets/images/app-joint.jpg" />
      <span class="app-title">Joint Application</span>
    </a>
  </div>
  <div class="col-sm-12">
    <span class="description"><img src="../assets/images/icn-i-small.png" width="23" height="17" />Please be aware that by selecting “Joint” the applicant and the co-applicant agree they intend to apply for joint credit. The co-applicant must be present and must indicate his or her acceptance of the Terms and Conditions at the end of this application before it is submitted.</span>
    <div class="clearfix"></div>
  </div>
</div>