<form id="form3" [formGroup]="employmentForm" onload="checkform()">
<div class="app-form">
  <div class="form-box">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title">Employment</div>
        <div class="header-note"><img src="../assets/images/icn-i-small.png" width="23" height="17" />All fields are required unless indicated as optional</div>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-6 p-right">
          <label>Employment Type</label>
          <select formControlName="EmploymentType" class="field">
                <!-- make "Select" placeholder text, not first item in the dropdown list -->
              <option value="">Select</option>
              <option value="At Home">At Home</option>
              <option value="Executive">Executive</option>
              <option value="Labourer">Labourer</option>
              <option value="Management">Management</option>
              <option value="Office Staff">Office Staff</option>
              <option value="Production">Production</option>
              <option value="Professional">Professional</option>
              <option value="Retired">Retired</option>
              <option value="Sales">Sales</option>
              <option value="Self-Employed">Self-Employed</option>
              <option value="Services">Service</option>
              <option value="Student">Student</option>
              <option value="Trades">Trades</option>
              <option value="Unemployed">Unemployed</option>
              <option value="Other">Other</option>
              </select>
        </div>
        <div class="col-sm-6 p-left form-margin">
          <label>Employment Status</label>
          <select formControlName="EmploymentStatus" class="field">
            <!-- make "Select" placeholder text, not first item in the dropdown list -->
          <option value="">Select</option>
          <option value="FT">Full Time</option>
          <option value="FTP">Full Time Probation</option>
          <option value="PTC">Part Time Casual</option>
          <option value="PTR">Part Time Regular</option>
          <option value="RET">Retired</option>
          <option value="SE">Self-Employed</option>
          <option value="SEAS">Seasonal Summar</option>
          <option value="SEAW">Seasonal Winter</option>
          </select>
        </div>
        <div class="col-sm-6 p-right">
          <label>Employer</label>
          <input id="field-employer" formControlName="EmployerName"  type="text" maxlength="50" required onKeyup="checkform()" />
          <div class="clearfix"></div>
        </div>
        <div class="col-sm-6 p-left form-margin">
          <label>Occupation</label>
          <input id="field-occupation" formControlName="Occupation"  type="text" maxlength="50" required onKeyup="checkform()" />
          <div class="clearfix"></div>
        </div>
        <div class="col-sm-2 p-right">
          <label>Gross Income</label>
          <!-- Add a persistent "CAD" symbol in front of price, validate to be a value 0 - 999999.99 for field below -->
          <input type="tel" formControlName="IncomeGross" required onKeyup="checkform()" />
        </div>
        <div class="col-sm-3 p-left p-right">
          <label>Income Frequency</label>
          <select formControlName="IncomeGrossBasis" class="field">
                    <!-- make "Select" placeholder text, not first item in the dropdown list -->
                    <option value="Select">Select</option>
                    <option value="1">Yearly</option>
                    <option value="12">Monthly</option>
                    <option value="52">Weekly</option>
                  </select>
        </div>
        <div class="col-sm-4 p-left form-margin">
          <label>Time at Job</label>
          <input style="width:50px" formControlName="EmployerDurationYears" type="tel" maxlength="2" required onKeyup="checkform()" />
          <span class="note">years</span>
          <input style="width:50px" formControlName="EmployerDurationMonths" type="tel" maxlength="2" placeholder="0" onKeyup="checkform()" />
          <span class="note">months</span>
          <div class="clearfix"></div>
        </div>
      </div>

      <!-- EMPLOYER CONTACT INFORMATION START -->

      <div class="row">
        <div class="col-lg-12">
          <div class="page-title">Employer Contact Information</div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
          <div class="col-sm-3 p-right form-margin">
            <label>Address Type</label>
            <!-- "Street" is selected by default -->
            <select class="field suffix" formControlName="AddressType" required tabindex="1">
                  <option value="Street">Street</option>
                  <option value="Rural Route">Rural Route</option>
                  <option value="Postal Box">Postal Box</option>
                </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 p-right">
            <label>Address</label>
            <input id="field-address-1" type="text" formControlName="StreetNo" placeholder="Street #" maxlength="10" required onKeyup="checkform()" onblur="Validate(this)"
              tabindex="1" />
          </div>
          <div class="col-sm-4 p-left p-right">
            <div class="blank-label"></div>
            <input id="field-address-2" type="text" formControlName="StreetName" placeholder="Street Name" maxlength="50" onKeyup="checkform()" tabindex="2" />
          </div>
          <div class="col-sm-2 p-right p-left">
            <div class="blank-label"></div>
            <!-- populate with valid street types, refer to Finance Driver documentation -->
            <select id="street-type" class="field" formControlName="StreetType" required onKeyup="checkform()" tabindex="5">
            <option value="">Street Type</option>
            <option value="Avenue">Avenue</option>
            <option value="Boulevard">Boulevard</option>
            <option value="Road">Road</option>
            <option value="Street">Street</option>
            </select>
          </div>
          <div class="col-sm-2 p-right p-left">
            <div class="blank-label"></div>
            <!-- populate with valid street types, refer to Finance Driver documentation -->
            <select id="street-direction" class="field" formControlName="StreetDirection" required onKeyup="checkform()" tabindex="5">
            <option value="">Direction</option>
            <option value="Avenue">North</option>
            <option value="Boulevard">East</option>
            <option value="Road">South</option>
            <option value="Street">West</option>
            <option value="Street">North East</option>
            <option value="Street">North West</option>
            <option value="Street">South East</option>
            <option value="Street">South West</option>
            </select>
          </div>
          <div class="col-sm-2 p-left">
            <div class="blank-label"></div>
            <input id="field-address-2" type="text" placeholder="Suite #" formControlName="SuiteNo" maxlength="50" onKeyup="checkform()" tabindex="2" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 p-right form-margin">
            <input id="city" placeholder="City" formControlName="City" onKeyup="checkform()" onblur="Validate(this)" tabindex="6" />
          </div>
          <div id="province" style="display:block;" class="col-sm-3 p-right">
            <!-- make "Province or Territory" placeholder text, not first item in the dropdown list -->
            <select id="province" class="field" formControlName="Province" required onKeyup="checkform()" tabindex="5" >
            <option value="">Province or Territory</option>
            <option value="CA-AB">Alberta</option>
            <option value="CA-BC">British Columbia</option>
            <option value="CA-MB">Manitoba</option>
            <option value="CA-NB">New Brunswick</option>
            <option value="CA-NL">Newfoundland</option>
            <option value="CA-NS">Northwest Terriotories</option>
            <option value="CA-NT">Nova Scotia</option>
            <option value="CA-NU">Nunavut</option>
            <option value="CA-ON">Ontario</option>
            <option value="CA-PE">Prince Edward Island</option>
            <option value="CA-QC">Quebec</option>
            <option value="CA-SK">Saskatchewan</option>
            <option value="CA-YT">Yukon</option>
            </select>
          </div>
          <div class="col-sm-2 p-right">
            <input id="postalcode" type="tel" formControlName="PostalCode" placeholder="Postal Code" maxlength="6" required onKeyup="check(); checkform()" onblur="ZipValidate(this)"
              tabindex="3" />
          </div>
        </div>



        <div class="col-sm-4 p-right">
          <label>Employer Phone</label>
          <input type="tel"  formControlName="EmployerPhone" placeholder="(555) 555 5555" name="phone" onchange="checkPhone(this)" maxlength="10" required onKeyup="checkform()"
          />
          <div class="clearfix"></div>
        </div>
        <div class="col-sm-2 p-left form-margin">
          <label>Extension</label>
          <input type="tel"  formControlName="EmployerPhoneExt" placeholder="Optional" name="phone" onchange="checkPhone(this)" maxlength="10" onKeyup="checkform()" />
          <div class="clearfix"></div>
        </div>

      </div>

      <!-- EMPLOYER CONTACT INFORMATION END -->

      <!-- PREVIOUS EMPLOYMENT START -->

      <!-- <div class="row">
        <div class="col-lg-12">
          <div class="page-title">Previous Employment</div>
        </div>
      </div> -->
      <div class="row" style="display:none">
        <div class="col-sm-4 p-right">
          <label>Employment Type</label>
          <select class="field">
                  <!-- make "Select" placeholder text, not first item in the dropdown list -->
                <option value="">Select</option>
                <option value="At Home">At Home</option>
                <option value="Executive">Executive</option>
                <option value="Labourer">Labourer</option>
                <option value="Management">Management</option>
                <option value="Office Staff">Office Staff</option>
                <option value="Production">Production</option>
                <option value="Professional">Professional</option>
                <option value="Retired">Retired</option>
                <option value="Sales">Sales</option>
                <option value="Self-Employed">Self-Employed</option>
                <option value="Services">Service</option>
                <option value="Student">Student</option>
                <option value="Trades">Trades</option>
                <option value="Unemployed">Unemployed</option>
                <option value="Other">Other</option>
                </select>
        </div>
        <div class="col-sm-4 p-right p-left">
          <label>Employment Status</label>
          <select class="field">
              <!-- make "Select" placeholder text, not first item in the dropdown list -->
            <option value="">Select</option>
            <option value="Full Time">Full Time</option>
            <option value="Full Time Probation">Full Time Probation</option>
            <option value="Part Time Casual">Part Time Casual</option>
            <option value="Part Time Regular">Part Time Regular</option>
            <option value="Retired">Retired</option>
            <option value="Self-Employed">Self-Employed</option>
            <option value="Seasonal Summar">Seasonal Summar</option>
            <option value="Seasonal Winter">Seasonal Winter</option>
            </select>
        </div>
        <div class="col-sm-4 p-left form-margin">
          <label>Occupation</label>
          <input id="field-occupation" type="text" maxlength="50" required onKeyup="checkform()" />
          <div class="clearfix"></div>
        </div>
        <div class="col-sm-5 p-right">
          <label>Employer</label>
          <input id="field-employer" type="text" maxlength="50" required onKeyup="checkform()" />
          <div class="clearfix"></div>
        </div>
        <div class="col-sm-5 p-right p-left">
          <label>Employer Phone</label>
          <input type="tel" placeholder="(555) 555 5555" name="phone" onchange="checkPhone(this)" maxlength="10" required onKeyup="checkform()"
          />
          <div class="clearfix"></div>
        </div>
        <div class="col-sm-2 p-left form-margin">
          <label>Extension</label>
          <input type="tel" placeholder="Optional" name="phone" onchange="checkPhone(this)" maxlength="10" onKeyup="checkform()" />
          <div class="clearfix"></div>
        </div>
        <div class="col-sm-2 p-right">
          <label>Gross Income</label>
          <!-- Add a persistent "CAD" symbol in front of price, validate to be a value 0 - 999999.99 for field below -->
          <input type="tel" required onKeyup="checkform()" />
        </div>
        <div class="col-sm-3 p-left p-right">
          <label>Income Frequency</label>
          <select class="field">
                      <!-- make "Select" placeholder text, not first item in the dropdown list -->
                      <option value="">Select</option>
                      <option value="Yearly">1</option>
                      <option value="Monthly">12</option>
                      <option value="Weekly">52</option>
                    </select>
        </div>
        <div class="col-sm-4 p-left form-margin">
          <label>Time at Job</label>
          <input style="width:50px" type="tel" maxlength="2" required onKeyup="checkform()" />
          <span class="note">years</span>
          <input style="width:50px" type="tel" maxlength="2" placeholder="0" onKeyup="checkform()" />
          <span class="note">months</span>
          <div class="clearfix"></div>
        </div>
      </div>


      <!-- PREVIOUS EMPLOYMENT END -->


      <div class="row">
        <div class="col-lg-12">
          <div class="page-title">Other Income (Optional)</div>
        </div>

        <div class="col-sm-6 p-right">
          <label>Income Type</label>
          <select class="field" formControlName="OtherIncomeType">
            <!-- make "Select" placeholder text, not first item in the dropdown list -->
            <option value="">Select</option>
            <option value="Salary">Car Allowance</option>
            <option value="Child Support">Child Support/Alimony</option>
            <option value="Disability Payments">Disability Payments</option>
            <option value="Investment Income">Investment Income</option>
            <option value="Pensions">Pensions</option>
            <option value="Renta Income">Renta Income</option>
            <option value="Workers Compensation">Workers Compensation</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="col-sm-3 p-right p-left">
          <label>Gross Income</label>
          <!-- Add a persistent "CAD" symbol in front of price, validate to be a value 0 - 999999.99 for field below -->
          <input type="tel" formControlName="IncomeOther" onKeyup="checkform()" />
        </div>
        <div class="col-sm-3 p-left">
          <label>Income Frequency</label>
          <select class="field" formControlName="IncomeOtherBasis">
                <!-- make "Select" placeholder text, not first item in the dropdown list -->
                <option value="Select">Select</option>
                <option value="1">Yearly</option>
                <option value="12">Monthly</option>
                <option value="52">Weekly</option>
              </select>
        </div>

        <a id="showincome" class="add-link" href="#" onclick="showIncome(); return false;">+ Add Source</a>

        <div class="clearfix"></div>

        <div class="col-sm-3 p-right" style="margin-top:40px;">
          <label>Bankruptcies</label>
          <input type="tel" formControlName="Bankruptcies" placeholder="Optional" onKeyup="checkform()" />
        </div>
      </div>
    </div>
      <div class="clearfix"></div>
      <button class="btn btn-nav" id="submitbutton" routerLink="../review">Next</button>
    <div class="clearfix"></div>
    <div class="note-required">All information is encrypted and protected.
      <a class="ssl">About SSL Certificates</a></div>
  </div>
</form>