<form [formGroup]="housingForm" id="form2" name="form2" onload="checkform()">
<div class="app-form">
  <div class="form-box">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title">Housing</div>
        <div class="header-note"><img src="../assets/images/icn-i-small.png" width="23" height="17" />All fields are required unless indicated as optional</div>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-3 p-right form-margin">
          <label>Address Type</label>
          <!-- "Street" is selected by default -->
          <select class="field suffix" formControlName="AddressType" required tabindex="1">
                <option value="Street">Street</option>
                <option value="Rural Route">Rural Route</option>
                <option value="Postal Box">Postal Box</option>
              </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 p-right">
          <label>Address</label>
          <input id="field-address-1" type="text" formControlName="StreetNo" placeholder="Street #" maxlength="10" required onKeyup="checkform()" onblur="Validate(this)"
            tabindex="1" />
        </div>
        <div class="col-sm-4 p-left p-right">
          <div class="blank-label"></div>
          <input id="field-address-2" type="text" formControlName="StreetName" placeholder="Street Name" maxlength="50" onKeyup="checkform()" tabindex="2" />
        </div>
        <div class="col-sm-2 p-right p-left">
          <div class="blank-label"></div>
          <!-- populate with valid street types, refer to Finance Driver documentation -->
          <select id="street-type" class="field" formControlName="StreetType" required onKeyup="checkform()" tabindex="5">
          <option value="">Street Type</option>
          <option value="Avenue">Avenue</option>
          <option value="Boulevard">Boulevard</option>
          <option value="Road">Road</option>
          <option value="Street">Street</option>
          </select>
        </div>
        <div class="col-sm-2 p-right p-left">
          <div class="blank-label"></div>
          <!-- populate with valid street types, refer to Finance Driver documentation -->
          <select id="street-direction" class="field" formControlName="StreetDirection" required onKeyup="checkform()" tabindex="5">
          <option value="">Direction</option>
          <option value="Avenue">North</option>
          <option value="Boulevard">East</option>
          <option value="Road">South</option>
          <option value="Street">West</option>
          <option value="Street">North East</option>
          <option value="Street">North West</option>
          <option value="Street">South East</option>
          <option value="Street">South West</option>
          </select>
        </div>
        <div class="col-sm-2 p-left">
          <div class="blank-label"></div>
          <input id="field-address-2" type="text" placeholder="Suite #" formControlName="SuiteNo" maxlength="50" onKeyup="checkform()" tabindex="2" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 p-right form-margin">
          <input id="city" placeholder="City" formControlName="City" onKeyup="checkform()" onblur="Validate(this)" tabindex="6" />
        </div>
        <div id="province" style="display:block;" class="col-sm-3 p-right p-left">
          <!-- make "Province or Territory" placeholder text, not first item in the dropdown list -->
          <select id="province" class="field" formControlName="Province" required onKeyup="checkform()" tabindex="5" >
          <option value="">Province or Territory</option>
          <option value="CA-AB">Alberta</option>
          <option value="CA-BC">British Columbia</option>
          <option value="CA-MB">Manitoba</option>
          <option value="CA-NB">New Brunswick</option>
          <option value="CA-NL">Newfoundland</option>
          <option value="CA-NS">Northwest Terriotories</option>
          <option value="CA-NT">Nova Scotia</option>
          <option value="CA-NU">Nunavut</option>
          <option value="CA-ON">Ontario</option>
          <option value="CA-PE">Prince Edward Island</option>
          <option value="CA-QC">Quebec</option>
          <option value="CA-SK">Saskatchewan</option>
          <option value="CA-YT">Yukon</option>
          </select>
        </div>
        <div class="col-sm-2 p-left">
          <input id="postalcode" type="tel" formControlName="PostalCode" placeholder="Postal Code" maxlength="6" required onKeyup="check(); checkform()" onblur="ZipValidate(this)"
            tabindex="3" />
        </div>


      </div>
      <div class="row">
        <div class="col-sm-5 form-margin p-right">
          <label>Housing Status</label>
          <select class="field" formControlName="HomeOwnershipType" tabindex="8">
          <option value="">Select</option>
          <option value="Mortgage">Own Free and Clear</option>
          <option value="Rent">Own Mobile Home</option>
          <option value="Family">Own with Mortgage</option>
          <option value="Own Outright">Rent</option>
          <option value="Military">Live With Parents</option>
          <option value="Own Outright">Reserve Housing</option>
          <option value="Other">Other</option>
          </select>
        </div>
        <div class="col-sm-5 form-margin p-left">
          <label>Mortgage Payment / Rent</label>
          <input class="width-40" formControlName="HomeMonthlyPayment" id="priceformat" type="tel" required onKeyup="checkform()" onblur="Validate(this)" tabindex="8" />
          <span class="note">per month</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <span class="form-label">Time at Address</span>
          <input style="width:50px" type="tel" formControlName="YearsAtAddress" size="2" maxlength="2" required onKeyup="checkform()" onblur="Validate(this)" tabindex="9"
          />
          <span class="note">years</span>
          <!-- limit the month field below to values between 0-11 -->
          <input style="width:50px" type="tel" formControlName="MonthsAtAddress" size="2" maxlength="2" placeholder="0" onKeyup="checkform()" tabindex="10" />
          <span class="note">months</span>
        </div>
      </div>
      </div>
      <div class="clearfix"></div>
  <button class="btn btn-nav" id="submitbutton2" routerLink="../employment">Next</button>
  <div class="clearfix"></div>
  <div class="note-required">All information is encrypted and protected.
    <a class="ssl">About SSL Certificates</a></div>
  </div>
</form>