<form id="form1" [formGroup]="personalForm" novalidate>
<div class="app-form">
    <div class="form-box">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">Personal Information</div>
                <div class="header-note"><img src="../assets/images/icn-i-small.png" width="23" height="17" />All fields are required unless indicated as optional</div>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-3 p-right form-margin">
                    <label>Salutation</label>
                    <!-- make "Select" placeholder text, not first item in the dropdown list -->
                    <select class="field suffix" formControlName="SalutationId" required tabindex="1">
                  <option value="">Select</option>
                  <option value="Dr">Dr</option>
                  <option value="Mr">Mr</option>
                  <option value="Miss">Miss</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Ms">Ms</option>
                </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 p-right">
                    <label>First Name</label>
                    <input id="field-first-name" formControlName="FirstName" name="field-first-name" type="text" maxlength="50" required onKeyup="checkform()" onblur="Validate(this)" tabindex="2" />
                </div>
                <div class="col-sm-2 p-right p-left">
                    <label>Middle Initial</label>
                    <input id="field-middle-name" formControlName="MiddleName" placeholder="Optional" type="text" maxlength="1" onKeyup="checkform()" tabindex="3" />
                </div>
                <div class="col-sm-4 p-right p-left">
                    <label>Last Name</label>
                    <input id="field-last-name" formControlName="LastName" type="text" maxlength="50" required onKeyup="checkform()" onblur="Validate(this)" tabindex="4" />
                </div>
                <div class="col-sm-2 p-left form-margin">
                    <label>Suffix</label>
                    <select class="field suffix" formControlName="SuffixId" tabindex="5">
              <option value="">Select</option>
              <option value="Jr">Jr</option>
              <option value="Sr">Sr</option>
              <option value="I">I</option>
              <option value="II">II</option>
              <option value="III">III</option>
              <option value="IV">IV</option>
            </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 p-right">
                    <label>Social Security Number</label>
                    <input class="left secured" type="tel" formControlName="SIN" placeholder="555-555-555" maxlength="9" required onKeyup="toUnicode(this,this.value), checkform()" onblur="SSNValidate(this)" tabindex="6" />
                </div>
                <div class="col-sm-3 p-left p-right">
                    <label>Gender</label>
                    <select class="field suffix" formControlName="GenderID" tabindex="7">
                <option value="">Select</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
                </div>
                <div class="col-sm-3 p-left p-right">
                    <label>Marital Status</label>
                    <!-- make "Select" placeholder text, not first item in the dropdown list -->
                    <select class="field suffix" formControlName="MaritalStatusId" tabindex="8">
              <option value="">Select</option>
              <option value="Single">Single</option>
              <option value="Common Law">Common Law</option>
              <option value="Married">Married</option>
              <option value="Separated">Separated</option>
              <option value="Divorced">Divorced</option>
              <option value="Widow/Widower">Widow/Widower</option>
            </select>
                </div>
                <div class="col-sm-3 p-left form-margin">
                    <label>Date of Birth</label>
                    <input formControlName="MonthOfBirth" style="width:25%; margin-right:5px; text-transform:none;" type="tel" size="2" maxlength="2" placeholder="mm" required onKeyup="toUnicode(this,this.value), checkform()" onblur="DateValidate(this)" tabindex="9" />
                    <input formControlName="DayOfBirth" style="width:25%; margin-right:5px; text-transform:none;" type="tel" size="2" maxlength="2" placeholder="dd" required onKeyup="toUnicode(this,this.value), checkform()" onblur="DateValidate(this)" tabindex="10" />
                    <input formControlName="YearOfBirth" style="width:40%; text-transform:none;" type="tel" size="4" maxlength="4" placeholder="yyyy" required onKeyup="checkform()" onblur="YearValidate(this)" tabindex="11" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" style="margin-bottom:10px;">
                    <label>Email</label>
                    <!-- validate the fields below to match, and to be properly formatted for email -->
                    <input formControlName="Email" type="email" style="text-transform:none;" placeholder="Email" maxlength="128" required onKeyup="toUnicode(this,this.value), checkform()" onblur="Validate(this)" tabindex="12" />
                    <input formControlName="Email1" type="email" style="text-transform:none;" placeholder="Confirm Email" maxlength="128" required onKeyup="toUnicode(this,this.value), checkform()" onblur="Validate(this)" tabindex="13" />
                </div>
                <div class="col-sm-6 form-margin">
                    <label>Phone Number</label>
                    <input formControlName="Phone" style="margin-right:10px;" type="tel" placeholder="(555) 555-5555" name="phone" onchange="checkPhone(this)" maxlength="10" required onKeyup="checkform()" onblur="PhoneValidate(this)" tabindex="14" />
                </div>
            </div>
            </div>
            <div class="clearfix"></div>
            <button class="btn btn-nav" routerLink="../housing" id="submitbutton">Next</button>
        <div class="clearfix"></div>
        <div class="note-required">All information is encrypted and protected.
            <a class="ssl">About SSL Certificates</a></div>
    </div>
</form>