<div class="app-form">
    <div class="form-box">
        <div class="page-title">Review Application</div>
        <div class="extra-margin"></div>
        <div class="col-sm-6 p-sum-left">

            <!--PERSONAL INFO START-->

            <div class="summary-header">
                <!--Link titles to their corresponding sections -->
                <a href="#" class="summary-title">Personal Information</a>
            </div>
            <div class="sum-box">
                <div class="sum-row">
                    <span class="sum-label">Name</span>
                    <span class="sum-value">{{getFullName()}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Social Security Number</span>
                    <span class="sum-value">***-**-****</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Gender</span>
                    <span class="sum-value">{{personalInfo['GenderID']}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Marital Status</span>
                    <span class="sum-value">{{personalInfo['MaritalStatusId']}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Date of Birth</span>
                    <span class="sum-value">{{getDOB()}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Email</span>
                    <span class="sum-value">{{personalInfo['MaritalStatusId']}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Phone Number</span>
                    <span class="sum-value">{{personalInfo['Phone']}}</span>
                    <div class="clearfix"></div>
                </div>

                <div class="spacer"></div>
            </div>

            <!--PERSONAL INFO END-->

            <!--CURRENT ADDRESS START-->

            <div class="summary-header">
                <!--Link titles to their corresponding sections -->
                <a href="#" class="summary-title">Current Address</a>
            </div>

            <div class="sum-box">
                <div class="sum-row">
                    <span class="sum-label">Address Type</span>
                    <span class="sum-value">{{housingInfo['AddressType']}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Address</span>
                    <!-- Combine PR #, Lot #, PO Box #, Unit #, Street #, Street Name, Concession, Street Type, Direction, City, Province, Postal Code -->
                    <span class="sum-value">605-1234 Westminister Drive West, Toronto, Ontario L4G7H3</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Housing Status</span>
                    <span class="sum-value">{{housingInfo['HomeOwnershipType']}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Mortgage Payment</span>
                    <span class="sum-value">{{housingInfo['HomeMonthlyPayment']}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Time at Address</span>
                    <span class="sum-value">{{housingInfo['YearsAtAddress']}} years {{housingInfo['MonthsAtAddress']}} months</span>
                    <div class="clearfix"></div>
                </div>
                <div class="spacer"></div>
            </div>

            <!--CURRENT ADDRESS END-->

        </div>
        <!--col-sm-6-->

        <!--EMPLOYMENT START-->

        <div class="col-sm-6 p-sum-right">
            <div class="summary-header">
                <!--Link titles to their corresponding sections -->
                <a href="#" class="summary-title">Employment</a>
            </div>

            <div class="sum-box">
                <div class="sum-row">
                    <span class="sum-label">Employment Type</span>
                    <span class="sum-value">{{employmentInfo['EmploymentType']}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Employment Status</span>
                    <span class="sum-value">{{employmentInfo['EmploymentStatus']}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Occupation</span>
                    <span class="sum-value">{{employmentInfo['Occupation']}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Employer</span>
                    <span class="sum-value">{{employmentInfo['EmployerName']}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Employer Address</span>
                    <span class="sum-value">{{employmentInfo['EmploymentAddress']}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Employer Phone</span>
                    <span class="sum-value">{{employmentInfo['EmployerPhone']}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Phone Extension</span>
                    <span class="sum-value">{{employmentInfo['EmployerPhoneExt']}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Gross Income</span>
                    <span class="sum-value">CAD {{employmentInfo['IncomeGross'] | currency }}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Income Frequency</span>
                    <span class="sum-value">{{employmentInfo['IncomeGrossBasis']}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Time at Job</span>
                    <span class="sum-value">{{employmentInfo['EmployerDurationYears']}} years {{employmentInfo['EmployerDurationMonths']}} months</span>
                    <div class="clearfix"></div>
                </div>

                <div class="spacer"></div>
            </div>

            <!--EMPLOYMENT END-->

            <!--PREVIOUS EMPLOYMENT START-->

            <!--PREVIOUS EMPLOYMENT END-->

            <!--OTHER INCOME START-->

            <div class="summary-header">
                <!--Link titles to their corresponding sections -->
                <a href="#" class="summary-title">Other Income</a>
            </div>

            <div class="sum-box">
                <div class="sum-row">
                    <span class="sum-label">{{employmentInfo['OtherIncomeType']}}</span>
                    <span class="sum-value">CAD {{employmentInfo['IncomeOther'] | currency }}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="sum-row">
                    <span class="sum-label">Income Frequency</span>
                    <span class="sum-value">{{employmentInfo['IncomeOtherBasis']}}</span>
                    <div class="clearfix"></div>
                </div>

                <div class="spacer"></div>
            </div>

            <!--OTHER INCOME END-->

            <!--BANKRUPTCIES START-->

            <div class="summary-header">
                <!--Link titles to their corresponding sections -->
                <a href="#" class="summary-title">Bankruptcies</a>
            </div>

            <div class="sum-box">
                <div class="sum-row">
                    <span class="sum-label">Bankruptcies</span>
                    <span class="sum-value">{{employmentInfo['Bankruptcies']}}</span>
                    <div class="clearfix"></div>
                </div>

                <div class="spacer"></div>
            </div>

            <!--BANKRUPTCIES END-->

            <div class="clearfix"></div>

        </div>
        <div style="margin-top:30px;">
            <input style="float:left;" id="terms-box" type="checkbox" [(ngModel)]="consentInfo['AcceptedTermsAndConditions']" />
            <div style="float:left; width:80%;" class="terms-agreed">I have read and agree to the <a>Terms and Conditions</a>. By clicking “Submit”, I authorize you to check my credit report.</div>
        </div>
        <div class="clearfix"></div>
        <div>
            <input id="privacy-box" type="checkbox" [(ngModel)]="consentInfo['AcceptedPrivacyConsent']" />
            <div style="float:left; width:80%;" class="terms-agreed">I have read and agree to the <a>Privacy Notice</a>.</div>
        </div>
        <div class="clearfix"></div>
        <div>
            <input id="privacy-box" type="checkbox" [(ngModel)]="consentInfo['AcceptedCEMConsent']" />
            <div style="float:left; width:80%;" class="terms-agreed">I have read and accept to the <a>CEM Consent</a>.</div>
        </div>
        <div class="clearfix"></div>
    </div>
    <button class="btn btn-nav" id="submitbutton" routerLink="../../thankyou" [disabled]="acceptedAllConsent()">Submit</button>
    <div class="clearfix"></div>
    <div class="note-required">All information is encrypted and protected.
        <a class="ssl">About SSL Certificates</a></div>
</div>