<div class="fixed">
  <div class="top-bar">
    <div class="steps-bar">
      <a class="progress-step" routerLink="personal" routerLinkActive #rla1="routerLinkActive">
        <div class="progress-dot" [ngClass]="{'active': rla1.isActive}">1</div>
        <div class="progress-name single-line" [ngClass]="{'active': rla1.isActive}">Personal Info</div>
      </a>
      <a class="progress-step" routerLink="housing" routerLinkActive #rla2="routerLinkActive">
        <div class="progress-dot" [ngClass]="{'active': rla2.isActive}">2</div>
        <div class="progress-name single-line" [ngClass]="{'active': rla2.isActive}">Housing</div>
      </a>
      <a class="progress-step" routerLink="employment" routerLinkActive #rla3="routerLinkActive">
        <div class="progress-dot" [ngClass]="{'active': rla3.isActive}">3</div>
        <div class="progress-name single-line" [ngClass]="{'active': rla3.isActive}">Employment</div>
      </a>
      <a class="progress-step" routerLink="review" routerLinkActive #rla4="routerLinkActive">
        <div class="progress-dot" [ngClass]="{'active': rla4.isActive}">4</div>
        <div class="progress-name single-line" [ngClass]="{'active': rla4.isActive}">Review</div>
      </a>
    </div>
  </div>
</div>
<!--fixed-->
<router-outlet></router-outlet>

