<div class="app-form">
    <div class="thankyou">Thank You</div><br />
    <div class="thanks-note">Your credit application has been submitted.</div><br />
    <!-- link to customer summary view -->
    <a id="summary-link" style="font-size:13px;">Back to Summary</a>
</div>