body {
    background-color: #f9f9f9;
    width: 100%;
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: scroll;
}

a,
a:link,
a:visited {
    color: #2e95d2;
}

input {
    -webkit-appearance: none;
}

.fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999999999;
}

.app-header {
    width: 100%;
    height: 44px;
    background-color: #fff;
    border-bottom: 1px solid #dee6ea;
    z-index: 9999999999;
}

a.btn-back,
a.btn-back:link,
a.btn-back:visited {
    float: left;
    height: 44px;
    line-height: 44px;
    margin-left: 15px;
    font-size: 14px;
    color: #2e95d2;
    padding-left: 20px;
    font-size: 13px;
    text-decoration: none;
    background: transparent url('./assets/images/icn-back-blue.png') no-repeat left center;
}

a.add-link,
a.add-link:link,
a.add-link:visited {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    text-decoration: none;
}

.logo {
    float: right;
    height: 44px;
    line-height: 44px;
    margin-right: 15px;
    padding-right: 50px;
    color: #1d1d1d;
    font-size: 13px;
    font-weight: 500;
    background: transparent url('./assets/images/logo.png') no-repeat right center;
}

.top-bar {
    width: 100%;
    z-index: 9999999999!important;
}

.top-bar-coapp {
    width: 100%;
}

.page-title {
    float: left;
    padding: 20px 0 40px 0;
    vertical-align: middle;
    width: 55%;
    text-align: left;
    font-size: 23px;
    font-weight: 300;
}

.main-page-title {
    float: left;
    padding: 0 15px 40px 15px;
    vertical-align: middle;
    width: 100%;
    text-align: left;
    font-size: 26px;
    font-weight: 300;
}

.header-note {
    float: right;
    width: 45%;
    text-align: right;
    font-size: 12px;
    font-weight: 300;
    padding-top: 8px;
}

.note-required {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    width: auto;
    font-size: 11px;
    color: #989898;
    font-weight: 400;
    margin-bottom: 15px;
}

.app-form {
    width: 100%;
    max-width: 1024px;
    margin: 80px auto 0 auto;
    text-align: center;
    min-height: 634px;
}

.choose-app-type {
    width: 950px;
    margin: 0 auto;
    background: #fff;
}

a.app-type,
a.app-type:link,
a.app-type:visited {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #dee6ea;
    border-radius: 3px;
    text-decoration: none;
    margin-bottom: 20px;
}

a.app-type img {
    display: block;
    width: 100%;
}

a.app-type span.app-title {
    display: block;
    background: #fff;
    width: 100%;
    padding: 30px 0;
    font-size: 18px;
    color: #2e95d2;
    font-weight: 300;
    text-align: center;
}

.type-individual {
    float: left;
    background: #fff url('./assets/images/app-individual.jpg') no-repeat left top;
}

.type-joint {
    float: right;
    background: #fff url('./assets/images/app-joint.jpg') no-repeat left top;
}

.description {
    float: left;
    text-align: left;
    margin: 40px 20px;
    font-size: 13px;
}

.form-box {
    min-height: 510px;
    text-align: left;
    margin: 0 15px;
    padding: 45px 7% 40px 7%;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #dee6ea;
}
.row {
    margin-right:0;
    margin-left:0;
}
.input-box {
    float: left;
    margin-bottom: 15px;
}

.form-label {
    float: left;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    margin: 6px 0;
}

input.secured {
    -webkit-text-security: disc;
    -moz-text-security: disc;
    text-security: disc;
}

.field {
    width: 100%;
    float: left;
    height: 44px;
    border-radius: 3px;
    border: 1px solid #dee6ea;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
    font-weight: 400;
    -webkit-appearance: none;
}

.field:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #aeb2b4;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #c7ccce;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #c7ccce;
}

:-ms-input-placeholder {
    color: #c7ccce;
}

select.field {
    -webkit-appearance: none;
    background: #fff url('./assets/images/dropdown.png') no-repeat right center;
}

.field.first-name {
    border-radius: 3px 0 0 3px;
    width: 230px;
}

.field.mid-name {
    border-radius: 0;
    width: 230px;
    margin-left: -10px!important;
}

.field.last-name {
    border-radius: 0 3px 3px 0;
    width: 230px;
    margin-left: -10px!important;
}

.field.suffix {
    width: 100%;
}

.home-phone {
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
    border-radius: 3px 0 0 3px;
    background: #2e95d2;
    border: 1px solid #2e95d2;
    color: #fff;
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px;
}

.cell-phone {
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 0 3px 3px 0;
    background: #fff;
    border: 1px solid #2e95d2;
    color: #2e95d2;
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px;
}

input[type=checkbox] {
    -webkit-appearance: none;
    float: left;
    width: 35px;
    height: 35px;
    margin: 15px 15px 0 0;
    border: 1px solid #dee6ea;
    border-radius: 3px;
}

input[type=checkbox]:focus {
    outline: none;
}

input[type=checkbox]:checked {
    background: #fff url('./assets/images/icn-check-blue.png') no-repeat center center;
}

.disclaimer {
    float: left;
    margin: 14px 0 0 0;
    font-size: 11.5px;
    line-height: 14px;
    font-weight: 400;
}

.optional-note {
    font-style: italic;
    color: #aeb2b4;
    font-weight: 300;
}

.note {
    float: left;
    height: 44px;
    line-height: 44px;
    font-size: 13px;
    margin: 0 8px;
}

.divider {
    float: left;
    width: 100%;
    margin: 30px 0;
    height: 1px;
    background: #dee6ea;
}

.col1 {
    float: left;
    width: 360px;
    margin-right: 40px;
}

.section-title {
    float: left;
    width: 100%;
    font-size: 18px;
    margin: 0;
}

.col2 {
    float: left;
    width: 400px;
}

button.btn-nav {
    display: inline-block;
    width: 100px;
    padding: 12px 20px;
    margin: 15px 0;
    background: #2e95d2;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #2e95d2;
    outline: none;
    cursor: pointer;
    font-size: 13px;
}

button.btn-nav:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

button.btn-nav:focus {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

button.btn-nav:disabled {
    background: #f9fafb;
    border: 1px solid #d6dee2;
    color: #c9c8c8;
}

.steps-bar {
    float: left;
    width: 100%;
    padding: 15px 0;
    overflow-x: scroll;
    text-align: center;
    white-space: nowrap;
    background: #fff;
    border-bottom: 1px solid #dee6ea;
    z-index: 999999;
}

.steps-bar-coapp {
    float: left;
    width: 100%;
    margin: 25px 0;
    overflow-x: scroll;
    text-align: left;
    white-space: nowrap;
}

a.progress-step,
a.progress-step:link,
a.progress-step:visited {
    display: inline-block;
    width: 119px;
    margin-right: 10px;
    text-align: left;
}

a.progress-step:hover {
    text-decoration: none;
    cursor: pointer;
}

.progress-dot {
    float: left;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 15px;
    border-radius: 12px;
    border: 1px solid #dee6ea;
    background: #fff;
    color: #c7cfd3;
    line-height: 24px;
    font-size: 12px;
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
}

.progress-dot.active {
    border-color: #333;
    background: #333;
    color: #fff;
}

.progress-dot.done {
    border-color: #5ebb47;
    background: #5ebb47 url('./assets/images/icn-check.png') no-repeat center center;
    color: #fff;
}

.progress-name {
    display: inline-block;
    width: 70px;
    margin: 0;
    font-size: 11px;
    line-height: 14px;
    font-weight: 400;
    color: #aeb2b4;
    white-space: normal;
}

.progress-name.single-line {
    padding-top: 6px;
}

.progress-name.active {
    color: #333;
}

.progress-name.done {
    color: #333;
}

a.ssl,
a.ssl:link,
a.ssl:visited {
    color: #2e95d2;
}

a.link-internal,
a.link-internal:link,
a.link-internal:visited {
    font-size: 13px;
    font-weight: 400;
    color: #2e95d2;
    line-height: 44px;
    vertical-align: middle;
    padding-left: 10px;
}

.summary-divider {
    float: left;
    width: 10%;
    height: 100px;
}

.summary-header {
    margin-bottom: 10px;
}

a.summary-title,
a.summary-title:link,
a.summary-title:visited {
    float: left;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 400;
}

a.summary-title:hover {
    cursor: pointer;
}

a.summary-edit,
a.summary-edit:link,
a.summary-edit:visited {
    float: right;
    width: 44px;
    height: 44px;
    background: transparent url('./assets/images/icn-edit.png') no-repeat center center;
}

.sum-box {
    float: left;
    width: 100%;
}

.sum-row {
    display: block;
    padding: 7px 0;
    line-height: 20px;
    vertical-align: middle;
    border-bottom: 1px solid #dee6ea;
}

.sum-label {
    float: left;
    width: 40%;
    font-size: 13px;
    line-height: 20px;
    color: #a1a1a1;
    font-weight: 400;
}

.sum-value {
    float: right;
    width: 55%;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    text-align: right;
}

.spacer {
    float: left;
    width: 100%;
    height: 20px;
}

a.read-button,
a.read-button:link,
a.read-button:visited {
    display: block;
    margin: 10px auto;
    height: 60px;
    width: 860px;
    border-radius: 3px;
    border: 1px solid #dee6ea;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    color: #2e95d2;
    font-weight: 400;
}

a.read-button:hover {
    text-decoration: none;
}

.accept-terms {
    width: 100%;
    height: 800px;
    text-align: center;
    background: #e5e5e5 url('./assets/images/terms.png') no-repeat center 40px;
}

.accept-privacy {
    width: 100%;
    height: 800px;
    text-align: center;
    background: #e5e5e5 url('./assets/images/privacy.png') no-repeat center 40px;
}

a.accept-btn {
    display: inline-block;
    width: 120px;
    height: 44px;
    margin-top: 640px;
}

.terms-agreed {
    float: left;
    width: 800px;
    text-align: left;
    line-height: 16px;
    padding-top: 16px;
    padding-left: 5px;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 400;
}

.thankyou {
    display: inline-block;
    font-size: 36px;
    font-weight: 300;
    margin: 200px auto 30px auto;
}

.thanks-note {
    display: inline-block;
    margin: 0 auto 20px auto;
}

.required-mark {
    color: red;
}

select:disabled {
    color: #c7ccce;
}


/* Generic Forms */

label {
    float: left;
    width: 100%;
    clear: both;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 500;
}

.blank-label {
    float: left;
    height: 17px;
    width: 100%;
    clear: both;
    margin-bottom: 5px;
}

input {
    float: left;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-indent: 10px;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #dee6ea;
    margin-bottom: 10px;
}

.form-margin {
    margin-bottom: 20px;
}

.width-90 {
    width: 90%;
}

.width-80 {
    width: 80%;
}

.width-70 {
    width: 70%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.width-30 {
    width: 30%;
}

.width-20 {
    width: 20%;
}

.width-10 {
    width: 10%;
}

.left {
    float: left;
}

.rigth {
    float: right;
}

a.link-note {
    display: inline-block;
    padding: 12px;
}

.income-salary {
    float: left;
    width: 30%;
}

.p-sum-right {
    margin-bottom: 20px;
}

.p-sum-left {
    margin-bottom: 20px;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    a.btn-back,
    a.btn-back:link,
    a.btn-back:visited {
        background: transparent url('./assets/images/icn-back-blue@2x.png') no-repeat left center;
        background-size: 9px 20px;
    }
    .logo {
        background: transparent url('./assets/images/logo@2x.png') no-repeat right center;
        background-size: 34px 24px;
    }
    .progress-dot.done {
        background: #5ebb47 url('./assets/images/icn-check@2x.png') no-repeat center center;
        background-size: 15px 15px;
    }
    select.field {
        -webkit-appearance: none;
        background: #fff url('./assets/images/dropdown@2x.png') no-repeat right center;
        background-size: 22px 42px;
    }
    input[type=checkbox]:checked {
        background: #fff url('./assets/images/icn-check-blue@2x.png') no-repeat center center;
        background-size: 12px 12px;
    }
    a.summary-edit,
    a.summary-edit:link,
    a.summary-edit:visited {
        background: transparent url('./assets/images/icn-edit@2x.png') no-repeat center center;
        background-size: 14px 14px;
    }
    .accept-terms {
        background: #e5e5e5 url('./assets/images/terms@2x.png') no-repeat center 40px;
        background-size: 1024px 718px;
    }
    .accept-privacy {
        background: #e5e5e5 url('./assets/images/privacy@2x.png') no-repeat center 40px;
        background-size: 1024px 718px;
    }
    .type-individual {
        background: #fff url('./assets/images/app-individual.jpg') no-repeat left top;
        background-size: 460px 310px;
    }
    .type-joint {
        background: #fff url('./assets/images/app-joint.jpg') no-repeat left top;
        background-size: 460px 310px;
    }
}

@media (min-width: 768px) {
    .p-right {
        padding-right: 0;
    }
    .p-left {
        padding-left: 10px;
    }
    .p-sum-right {
        padding-right: 0;
        padding-left: 35px;
    }
    .p-sum-left {
        padding-left: 0px;
        padding-right: 35px;
    }
}

@media (max-width: 767px) {
    .blank-label {
        display: none;
    }
    .mobile-margin {
        margin-bottom: 40px;
    }
    .p-sum-right {
        padding-right: 0;
        padding-left: 0;
    }
    .p-sum-left {
        padding-right: 0;
        padding-left: 0;
    }
    .description {
        margin: 10px 20px 30px 20px;
    }
    .choose-type {
        margin-top: 60px;
    }
    .form-margin {
        margin-bottom: 40px;
    }
}

@media (max-width: 840px) {
    .page-title {
        width: 100%;
        padding-bottom: 20px;
    }
    .header-note {
        float: left;
        text-align: left;
        width: 100%;
        margin-bottom: 30px;
    }
    .extra-margin {
        float: left;
        width: 100%;
        height: 20px;
    }
}